.aboutContainer {
    min-height: 100vh;
    color: white;
    margin: -5% 20%;
}    
.aboutLink {
    color: #ffcb00;
}
.skillIconRow {
    width: 100%;
}
.skillIcon {
    width: 3.5rem;
    height: 3.5rem;
    margin: 0.25rem;
}
.aboutDescription {
    font-family: 'Lexend Deca', sans-serif!important;
}
br {
    display: block;
    content: '';
    margin: 0.75rem 0;
}

    @media only screen and (max-width: 400px) {
    .aboutContainer {
        margin: -10% 5%;
    }  
    .aboutDescription {
        font-size: 1.25rem;
    }
    .skillIcon {
        width: 3rem;
        height: 3rem;
        margin: 0.125rem;
    }
  }

  @media only screen and (min-width: 400px) and (orientation:portrait) {
    .aboutContainer {
        margin: 0 5%;
    }  
    .aboutDescription {
        font-size: 1.5rem;
    }
  }
  @media only screen and (min-width: 400px) and (orientation:landscape){
    .aboutContainer {
        margin: -3% 5%;
    }  
    .aboutDescription {
        font-size: 1.3rem;
    }
  }
  
  @media only screen and (min-width: 600px) and (orientation:portrait)  {
    .aboutContainer {
        margin: -5% 5%;
    }  
    .aboutDescription {
        font-size: 1.25rem;
    }
  }
  @media only screen and (min-width: 600px) and (orientation:landscape)  {
    .aboutContainer {
        margin: -5% 5%;
    }  
    .aboutDescription {
        font-size: 1.25rem;
    }
  }
  
  @media only screen and (min-width: 768px) and (orientation:portrait) {
    .aboutContainer {
        margin: -6% 10%;
    }    
    .skillIcon {
        width: 3.25rem;
        height: 3.25rem;
        margin: 0.25rem;
    }
    .aboutDescription {
        font-size: 1rem;
    }
  }
  @media only screen and (min-width: 768px) and (orientation:landscape){
    .aboutContainer {
        margin: -5% 10%;
    }    
    .skillIcon {
        width: 2.75rem;
        height: 2.75rem;
        margin: 0.1rem;
    }
    .aboutDescription {
        font-size: 0.85rem;
    }
  }
  
  @media only screen and (min-width: 992px) and (orientation:portrait){
    .aboutContainer {
        margin: -5% 10%;
    }    
    
    .skillIconRow {
        width: 100%;
    }
    .skillIcon {
        width: 3.5rem;
        height: 3.5rem;
        margin: 0.1rem;
    }
    .aboutDescription {
        font-size: 1.1rem;
    }
  }

  @media only screen and (min-width: 992px) and (orientation:landscape){
    .aboutContainer {
        margin: -5% 10%;
    }    
    
    .skillIconRow {
        width: 100%;
    }
    .skillIcon {
        width: 3.5rem;
        height: 3.5rem;
        margin: 0.1rem;
    }
    .aboutDescription {
        font-size: 1.1rem;
    }
  }

  @media only screen and (min-width: 1440px) {
    .aboutContainer {
        margin: 0% 25%;
    }  
    .aboutDescription {
        font-size: 1.25rem;
    }
  }

  @media only screen and (min-width: 2000px) {
    .aboutContainer {
        margin: 0% 30%;
    }    
    
    .skillIconRow {
        width: 100%;
    }
    .skillIcon {
        width: 3.3rem;
        height: 3.3rem;
        margin: 0.15rem;
    }
    .aboutDescription {
        font-size: 1.3rem;
    }
  }
  @media only screen and (min-width: 2560px) {
    .aboutContainer {
        margin: 0% 35%;
    }   
    .aboutDescription {
        font-size: 1.35rem;
    }
    .skillIcon {
        width: 3.5rem;
        height: 3.5rem;
        margin: 0.2rem;
    }
  }