.homeContainer {
    min-height: 100vh;
    color: white;
    /* font-family: 'Montserrat', sans-serif!important; */
    text-transform: uppercase;
}    
.homeName-container {
    margin-bottom: 1.25rem;
    letter-spacing: 5px;
}
.homeDescription {
    letter-spacing: 2px;
}

#homeContainer-darkMode {
    color: black;
}
#homeContainer-lightMode {
    color: white;
}

@media only screen and (max-width: 400px) {
    .homeContainer {
        margin: -5% 0%;
    } 
    .homeName {
        font-size: 4rem;
    }
    .homeDescription {
        font-size: 2rem;
    }
  }

  @media only screen and (min-width: 400px) {
    .homeContainer {
        margin: -3% 0%;
    }  
  }
  @media only screen and (min-width: 768px) {
    .homeName {
        font-size: 4.5rem;
    }
    .homeDescription {
        font-size: 2.25rem;
    } 
  }
  @media only screen and (min-width: 1440px) {
    .homeContainer {
        margin: 0;
    }  
  }
  @media only screen and (min-width: 2000px) {
    .homeName {
        font-size: 5rem;
    }
    .homeDescription {
        font-size: 3rem;
    } 
  }