.workContainer {
    min-height: 100vh;
    margin: 0 10%;
}    

.githubIcon {
    width: 2rem;    
    height: 2rem;
    margin: 0 1rem 0 0;
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
.githubIcon:hover {
    opacity:0.5;
}

.projectCard {
    width: 40%;
    margin: 1.25rem 1rem;
}
.projectImage {
    width: 100%;
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    border: 1px solid rgb(58, 58, 58);
}
.projectImage:hover {
    opacity:0.5;
}
.projectTitle {
    font-size: 2.50rem;
}
.techstack {
    font-size: 1.15rem;
    margin: 0 0.125rem;
}

@media only screen and (max-width: 321px) {
    .workContainer {
        margin: -10% 0%;
    }   
    .projectCard {
        display:flex;

        width: 100%;
        height: 14rem;
        margin: 0.25rem 0rem;
    } 
    .projectInfo {
        margin: 0rem 0rem;
        width: 60%;
    }
    .projectTitle {
        font-size: 1.3rem;
        margin: 0.5rem 0rem;
    }
    .techstack {
        font-size: 1.1rem;
        margin: 0.2rem;
    }
    .projectImage {
        width: 60%;
    }
    .techstackRow {
        width: 30%;
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (min-width: 321px) {
    .workContainer {
        margin: -15% 0%;
    }   
    .projectCard {
        display:flex;

        width: 100%;
        height: 13.5rem;
        margin: 0.5rem 0rem;
    } 
    .projectInfo {
        margin: 0rem 0rem;
        width: 60%;
    }
    .projectTitle {
        font-size: 1.5rem;
        margin: 0.5rem 0rem;
    }
    .techstack {
        font-size: 1.15rem;
        margin: 0.2rem;
    }
    .techstackRow {
        width: 30%;
        display: flex;
        flex-direction: column;
    }
    .projectImage {
        width: 60%;
    }
}
@media only screen and (min-width: 400px) and (orientation : portrait){
    .workContainer {
        margin: -15% 0;
    }   
    .projectCard {
        display:flex;

        width: 100%;
        height: 18rem;
        margin: 0.4rem 0;
    } 
    .projectImage {
        width: 70%;
    }
    .projectTitle {
        font-size: 2rem;
        margin: 0.5rem 0rem;
    }
    .projectInfo {
        margin: 0rem 0rem;
        width: 60%;
    }
    .techstackRow {
        width: 30%;
        display: flex;
        flex-direction: column;
    }
    .techstack {
        font-size: 1.25rem;
        margin: 0.2rem;
    }
  }
  @media only screen and (min-width: 400px) and (orientation : landscape){
    .workContainer {
        margin: -7% 0%;
    }
    .projectTitle {
        font-size: 1.48rem;
        margin: 0.5rem 0rem;
    }
    .projectCard {
        display: block;
        height: 18rem;
    } 
    .techstack {
        font-size: 1rem;
        margin: 0.125rem;
    }
    .projectCard {
        width: 23%;
        margin: 0rem 0.5rem;
    }
    .projectImage {
        width: 100%;
    }
    .projectInfo {
        margin: 0rem 0rem;
        width: 100%;
    }
    .techstackRow {
        width: 100%;
    }
    .techstack {
        font-size: 1.1rem;
        margin: 0.15rem;
    }
  }
  
  @media only screen and (min-width: 600px) and (orientation : portrait) {
    .workContainer {
        margin: 0% 5%;
    }
    .projectTitle {
        font-size: 1.5rem;
    }
    .projectCard {
        height: 18rem;
    } 
    .techstack {
        font-size: 0.875rem;
    }
    .projectCard {
        display: block;
        width: 33%;
        margin: 0rem 0.5rem;
    }
    .projectImage {
        width: 80%;
    }
    .projectInfo {
        width: 100%;
    }
    .techstackRow {
        width: 100%;
    }
  }
  @media only screen and (min-width: 600px) and (orientation : landscape){
    .workContainer {
        margin: -7% 0%;
    }
    .projectTitle {
        font-size: 1.48rem;
        margin: 0.5rem 0rem;
    }
    .techstack {
        font-size: 0.9rem;
    }
    .projectCard {
        display: block;
        width: 23%;
        height: 18rem;
        margin: 0rem 0.5rem;
    }
    .projectImage {
        width: 100%;
    }
    .projectInfo {
        width: 100%;
    }
    .techstackRow {
        width: 100%;
    }
    .techstack {
        font-size: 1.1rem;
        margin: 0.15rem;
    }
  }
  
   @media only screen and (min-width: 768px) and (orientation : portrait){
    .workContainer {
        margin: -5% 5%;
    }
    .projectTitle {
        font-size: 1.7rem;
    }
    .projectCard {
        height: 22rem;
    } 
    .techstackRow {
        display: inline;
    }
    .techstack {
        font-size: 1rem;
        margin: 0.2rem;
    }
    .projectCard {
        width: 40%;
        margin: 0rem 1rem;
    }
    .projectImage {
        width: 100%;
    }
  }
  @media only screen and (min-width: 768px) and (orientation : landscape){
    .workContainer {
        margin: -8% 0;
    }
    .projectTitle {
        font-size: 1.25rem;
        margin: 0.25rem 0rem;
    }
    .projectCard {
        height: 14rem;
    } 
    .techstack {
        font-size: 0.8rem;
    }
    .projectCard {
        width: 23%;
        margin: 0rem 0.1rem;
    }
    .projectImage {
        width: 100%;
    }
  }
  
  @media only screen and (min-width: 992px) and (orientation: portrait){
    .workContainer {
        margin: -5% 0;
    }
    .projectTitle {
        font-size: 1.4rem;
        margin: 0.2rem 0rem;
    }
    .projectCard {
        height: 22rem;
        width: 45%;
        margin: 1rem 0.25rem;
    } 
    .techstack {
        font-size: 1rem;
    }
    .projectImage {
        width: 85%;
    }
    .techstackRow {
        display: inline;
    }
  }

  @media only screen and (min-width: 992px) and (orientation: landscape) {
    .workContainer {
        margin: -5% 0;
    }
    .projectTitle {
        font-size: 1.4rem;
        margin: 0.2rem 0rem;
    }
    .projectCard {
        height: 17rem;
        width: 34%;
        margin: 0.5rem 0.25rem;
    } 
    .techstack {
        font-size: 1rem;
    }
    .projectImage {
        width: 65%;
    }
    .techstackRow {
        display: inline;
    }
  }
  
  @media only screen and (min-width: 1200px) {
    .projectCard {
        width: 33%;
        height: 19.5rem;
        margin: 0.75rem 0.75rem;
    }
    .projectImage {
        width: 80%;
    }
    .projectTitle {
        font-size: 2.2rem;
    }
    .techstack {
        font-size: 0.9rem;
        margin: 0.1rem;
    }
    
  }

  @media only screen and (min-width: 1440px) {
    .workContainer {
        margin: -2% 10%;
    }    
    .projectCard {
        width: 34%;
        height: 22rem;
        margin: 1rem 1rem;
    }
    .projectImage {
        width: 90%;
    }
    .projectTitle {
        font-size: 2.5rem;
    }
    .techstack {
        font-size: 1rem;
        margin: 0.125rem;
    }
  }
  
  @media only screen and (min-width: 1700px) {
    .projectCard {
        width: 34%;
        height: 25rem;
        margin: 3rem;
    }
    .projectImage {
        width: 100%;
    }
    .projectTitle {
        font-size: 2.5rem;
    }
    .techstack {
        font-size: 1rem;
        margin: 0.125rem;
    }
  }

  @media only screen and (min-width: 2000px) {
    .workContainer {
        margin: -2% 0%;
    }    
    .projectCard {
        width: 20%;
        height: 25rem;
        margin: 2rem;
    }
    .projectImage {
        width: 100%;
    }
    .projectTitle {
        font-size: 2.5rem;
    }
    .techstack {
        font-size: 1rem;
        margin: 0.125rem;
    }
  }
  